.nomal-section{
 width: 100%;
 padding-top: 50vh;
 padding-bottom: 30vh;
}

.nomal-section-title{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 3vh;
}

.button-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.cur-btn{
    background-color:#ffffff!important;
}

.nomal-section-btn{
    width: 20vw;
    height: 7vh;
    background-color: #E5E5E5;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
}

.group-subtitle{
    font-size: 0.4rem;
    padding-bottom: 0.3em;
}

.btn-emoji{
 position: absolute;
    font-size: 1.5em;
    bottom: -0.25em;
    right: -0.25em;
}

.button-box-mini{
    display: flex;
    flex-direction: column;
}

.mini-button-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.nomal-section-btn-mini{
    background-color: #E5E5E5;
    cursor: pointer;
    width: 40vw;
    height: 5vh;
    border-radius: 1rem;
}

.nomal-section-btn, .nomal-section-btn-mini{
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
}

.group-section-description{
    display: flex;
    flex-direction: column-reverse;
    padding: 5vh;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}

.image-box{
    margin-bottom: 2vh;
}

.text-box-title{
    margin-bottom: 2vh;
    font-size: 5vw;
}

.text-box-description{
    font-size: 3vw;
}



@media (min-width: 1024px) {
    .nomal-section-title{
        margin-bottom: 3.9rem;
        font-size: 2rem;
    }
    .button-box{
        width: 47.6rem;
        margin: auto;
        padding-bottom: 1.55rem;
    }
    .nomal-section-btn{
        width: 11rem;
        height: 5.2rem;
    }

    .group-subtitle{
        font-size: 0.7rem;
    }
    .group-title{
        font-size: 1rem;
        font-weight: bold;
    }

    .btn-emoji{
           font-size: 2.5rem;
    }

    .group-section-description{
        width: 47.6rem;
        min-height: 24rem;
        margin: auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .text-box{
        width: 17.1rem;
        margin-right: 1.2rem;
    }
    .text-box-title{
        font-size: 1.5rem;
    }
    .text-box-description{
        font-size: 0.8rem;
        font-weight: bold;
    }
    .image-box{
        width: 17.1rem;
        height: 17.1rem;
    }
}